on init

    # Android creates by-name disk links with the disk controller
    # in the generated path, so that the names pulled out of the GPT
    # can be associated with the correct disk. Create a shortcut to
    # /dev/block/by-name so that we can use the same fstabs everywhere.
    symlink /dev/block/pci/pci0000:00/0000:00:01.0/by-name /dev/block/by-name

    export PATH /system/bin
    export OMX_BELLAGIO_REGISTRY /vendor/etc/omxregister

    insmod /vendor/lib/modules/extra/ion-uniphier.ko
    insmod /vendor/lib/modules/extra/vocdrv-ld20.ko
    insmod /vendor/lib/modules/kernel/drivers/usb/dwc3/dwc3.ko
    insmod /vendor/lib/modules/kernel/drivers/usb/dwc3/dwc3-uniphier.ko

# interval:60s margin:20s
service watchdogd /sbin/watchdogd 60 20
    oneshot
    seclabel u:r:watchdogd:s0

# Reset the watchdog counter once boot is completed
on property:init.svc.vendor.recovery=running
    write /sys/devices/virtual/misc/watchdog/counter "0"

service display_init /vendor/bin/display_init
    class core
    seclabel u:r:vendor_init:s0
    user system
    group graphics
    oneshot

